<?xml version="1.0" encoding="utf-8"?>
<sciifii version="5.1" workingDirectory="sd:/sciifii/temp">
  <!-- Region:
    JAP: 0
    EUR: 2
    KK: 4
    US: 1
  -->
  <logs>
    <log type="file" path="sd:/sciifii.log" />
  </logs>

  <files>
    <file key="configsciifii.xml" url="http://teamwiigen.com/appFiles/config.xml" overwrite="true" path="sd:/sciifii/config.xml" />

    <file key="priiloaderfr.dat" url="http://teamwiigen.com/appFiles/Preloader/fr/priiloader08rev151.dat" sha1="http://teamwiigen.com/appFiles/Preloader/fr/priiloader08rev151.dat.sha" />
    <file key="hacksfr.ini" url="http://teamwiigen.com/appfiles/Preloader/fr/hacks_fr_s.ini" path="sd:/hacks.ini" />
    <file key="hacks_hashfr.ini" url="http://teamwiigen.com/appFiles/Preloader/fr/hacks_hash_fr_s.ini" path="sd:/hacks_hash.ini" />
    <file key="priiloader.dat" url="http://teamwiigen.com/appFiles/Preloader/priiloader.dat" sha1="http://teamwiigen.com/appFiles/Preloader/priiloader.dat.sha" />
    <file key="hacks.ini" url="http://teamwiigen.com/appfiles/hacks.ini" path="sd:/apps/Priiloader/hacks.ini" />
    <file key="hacks_hash.ini" url="http://teamwiigen.com/appFiles/hacks_hash.ini" path="sd:/apps/Priiloader/hacks_hash.ini" />
    <!-- WIIFLOW -->
    <file key="wiiflow.wad" url="http://teamwiigen.com/appFiles/Loaders/wiiflow/WiiFlow_ForWarder.wad" sha1="http://teamwiigen.com/appFiles/Loaders/wiiflow/WiiFlow_ForWarder.wad.sha" />
    <file key="wiiflow.dol" url="http://teamwiigen.com/appFiles/Loaders/wiiflow/Wiiflow.dol" sha1="http://teamwiigen.com/appFiles/Loaders/wiiflow/Wiiflow.dol.sha" path="sd:/apps/wiiflow/boot.dol" />
    <file key="wiiflowlangfr" url="http://teamwiigen.com/appFiles/FR/Wiiflow/french.ini" path="sd:/wiiflow/languages/french.ini" />
    <file key="wiiflowinifr" url="http://teamwiigen.com/appFiles/FR/Wiiflow/wiiflow.ini" path="sd:/apps/Wiiflow/wiiflow.ini" />
    <file key="wiiflowicon" url="http://teamwiigen.com/appFiles/Loaders/wiiflow/icon.png" path="sd:/apps/Wiiflow/icon.png" />
    <file key="wiiflowxml" url="http://teamwiigen.com/appFiles/Loaders/wiiflow/meta.xml" path="sd:/apps/Wiiflow/meta.xml" />
    <file key="Upwiiflowxml" url="http://teamwiigen.com/appFiles/Loaders/wiiflow/meta.xml" path="sd:/apps/Wiiflow/meta.xml" overwrite="true" />
    <file key="Upwiiflowlangfr" url="http://teamwiigen.com/appFiles/FR/Wiiflow/french.ini" path="sd:/wiiflow/languages/french.ini" overwrite="true" />
    <file key="Upwiiflowinifr" url="http://teamwiigen.com/appFiles/FR/Wiiflow/wiiflow.ini" path="sd:/apps/Wiiflow/wiiflow.ini" overwrite="true" />
    <file key="Upwiiflow.wad" url="http://teamwiigen.com/appFiles/Loaders/wiiflow/WiiFlow_ForWarder.wad" sha1="http://teamwiigen.com/appFiles/Loaders/wiiflow/WiiFlow_ForWarder.wad.sha" path="sd:/sciifii/temp/WiiFlow_ForWarder.wad" />
    <file key="Upwiiflow.dol" url="http://teamwiigen.com/appFiles/Loaders/wiiflow/Wiiflow.dol" sha1="http://teamwiigen.com/appFiles/Loaders/wiiflow/Wiiflow.dol.sha" path="sd:/apps/wiiflow/boot.dol" overwrite="true" />
    <!-- UsbLoaderGX -->
    <file key="GXForwarder" url="http://teamwiigen.com/appFiles/Loaders/usbloadergx/USBLoader_GX_ForWarder.wad" sha1="http://teamwiigen.com/appFiles/Loaders/usbloadergx/USBLoader_GX_ForWarder.wad.sha" path="sd:/sciifii/temp/LoaderGX.wad" />
    <file key="GXDol" url="http://teamwiigen.com/appFiles/Loaders/usbloadergx/usbloadergx.dol" sha1="http://teamwiigen.com/appFiles/Loaders/usbloadergx/usbloadergx.dol.sha" path="sd:/apps/usbloader_gx/boot.dol"  />
    <file key="GXlangfr" url="http://teamwiigen.com/appFiles/FR/Usbloadergx/french.txt" path="sd:/apps/usbloader_gx/language/french.lang" />
    <file key="GXglobalfr" url="http://teamwiigen.com/appFiles/FR/Usbloadergx/GXGlobal.txt" path="sd:/apps/usbloader_gx/GXGlobal.cfg" />
    <file key="UpGXlangfr" url="http://teamwiigen.com/appFiles/FR/Usbloadergx/french.txt" path="sd:/apps/usbloader_gx/language/french.lang" overwrite="true" />
    <file key="UpGXglobalfr" url="http://teamwiigen.com/appFiles/FR/Usbloadergx/GXGlobal.txt" path="sd:/apps/usbloader_gx/GXGlobal.cfg" overwrite="true" />
    <file key="UpGXDol" url="http://teamwiigen.com/appFiles/Loaders/usbloadergx/usbloadergx.dol" sha1="http://teamwiigen.com/appFiles/Loaders/usbloadergx/usbloadergx.dol.sha" path="sd:/apps/usbloader_gx/boot.dol" overwrite="true" />
    <file key="GXmeta" url="http://teamwiigen.com/appFiles/Loaders/usbloadergx/meta.xml" path="sd:/apps/usbloader_gx/meta.xml" />
    <file key="UpGXmeta" url="http://teamwiigen.com/appFiles/Loaders/usbloadergx/meta.xml" path="sd:/apps/usbloader_gx/meta.xml" overwrite="true" />
    <file key="GXicon" url="http://teamwiigen.com/appFiles/Loaders/usbloadergx/icon.png" path="sd:/apps/usbloader_gx/icon.png" />
    <!-- NEOGAMMA -->
    <file key="Neoforwarder" url="http://teamwiigen.com/appFiles/Loaders/Neogamma/NeoForWarder.wad" sha1="http://teamwiigen.com/appFiles/Loaders/Neogamma/NeoForWarder.wad.sha" path="sd:/sciifii/temp/neoforwarder.wad" />
    <file key="Neodol" url="http://teamwiigen.com/appFiles/Loaders/Neogamma/Neogamma.dol" sha1="http://teamwiigen.com/appFiles/Loaders/Neogamma/Neogamma.dol.sha" path="sd:/apps/neogamma/boot.dol" />
    <file key="Neodolfr" url="http://teamwiigen.com/appFiles/FR/Neogamma/Neogammafr.dol" sha1="http://teamwiigen.com/appFiles/FR/Neogamma/Neogammafr.dol.sha" path="sd:/apps/neogamma/boot.dol" />
    <file key="UpNeodol" url="http://teamwiigen.com/appFiles/Loaders/Neogamma/Neogamma.dol" sha1="http://teamwiigen.com/appFiles/Loaders/Neogamma/Neogamma.dol.sha" path="sd:/apps/neogamma/boot.dol" overwrite="true" />
    <file key="UpNeodolfr" url="http://teamwiigen.com/appFiles/FR/Neogamma/Neogammafr.dol" sha1="http://teamwiigen.com/appFiles/FR/Neogamma/Neogammafr.dol.sha" path="sd:/apps/neogamma/boot.dol" overwrite="true" />
    <file key="Neoxml" url="http://teamwiigen.com/appFiles/Loaders/Neogamma/meta.xml" path="sd:/apps/neogamma/meta.xml" />
    <file key="UpNeoxml" url="http://teamwiigen.com/appFiles/Loaders/Neogamma/meta.xml" path="sd:/apps/neogamma/meta.xml" overwrite="true" />
    <file key="Neoicon" url="http://teamwiigen.com/appFiles/Loaders/Neogamma/icon.png" path="sd:/apps/neogamma/icon.png" />
    <!-- CFG -->
    <file key="CFGForwarder" url="http://teamwiigen.com/appFiles/Loaders/USBLoader/USBLoaderCFG.wad" sha1="http://teamwiigen.com/appFiles/Loaders/USBLoader/USBLoaderCFG.wad.sha" path="sd:/sciifii/temp/USBLoader.wad" />
    <file key="CFGDol" url="http://teamwiigen.com/appFiles/Loaders/USBLoader/boot.dol" sha1="http://teamwiigen.com/appFiles/Loaders/USBLoader/boot.dol.sha" path="sd:/apps/USBLoader/boot.dol"  />
    <file key="CFGlangfr" url="http://teamwiigen.com/appFiles/FR/usb_loader/languages/FR.txt" path="sd:/usb-loader/languages/FR.lang" />
    <file key="CFGMETA" url="http://teamwiigen.com/appFiles/Loaders/USBLoader/meta.xml" path="sd:/apps/USBLoader/meta.xml" />
    <file key="CFGsetting" url="http://teamwiigen.com/appFiles/Loaders/USBLoader/settings.txt" path="sd:/usb-loader/settings.cfg" />
    <file key="CFGICON" url="http://teamwiigen.com/appFiles/Loaders/USBLoader/icon.png" path="sd:/apps/USBLoader/icon.png" />
    <file key="UpCFGDol" url="http://teamwiigen.com/appFiles/Loaders/USBLoader/boot.dol" sha1="http://teamwiigen.com/appFiles/Loaders/USBLoader/boot.dol.sha" path="sd:/apps/USBLoader/boot.dol" overwrite="true" />
    <file key="UpCFGlangfr" url="http://teamwiigen.com/appFiles/FR/usb_loader/languages/FR.txt" path="sd:/usb-loader/languages/FR.lang" overwrite="true"/>
    <file key="UpCFGMETA" url="http://teamwiigen.com/appFiles/Loaders/USBLoader/meta.xml" path="sd:/apps/USBLoader/meta.xml" overwrite="true"/>
    <file key="UpCFGsetting" url="http://teamwiigen.com/appFiles/Loaders/USBLoader/settings.txt" path="sd:/usb-loader/settings.cfg" overwrite="true" />

    <!-- D2xv7
    <file key="dipp_module_d2x7.dat" url="http://teamwiigen.com/appfiles/dipp_module_d2x7.dat" sha1="http://teamwiigen.com/appfiles/dipp_module_d2x7.dat.sha" />
    <file key="ehci_module_d2x7.dat" url="http://teamwiigen.com/appfiles/ehci_module_d2x7.dat" sha1="http://teamwiigen.com/appfiles/ehci_module_d2x7.dat.sha" />
    <file key="esp_module_d2x7.dat" url="http://teamwiigen.com/appfiles/esp_module_d2x7.dat" sha1="http://teamwiigen.com/appfiles/esp_module_d2x7.dat.sha" />
    <file key="fat_module_d2x7.dat" url="http://teamwiigen.com/appfiles/fat_module_d2x7.dat" sha1="http://teamwiigen.com/appfiles/fat_module_d2x7.dat.sha" />
    <file key="ffsp_module_d2x7.dat" url="http://teamwiigen.com/appfiles/ffsp_module_d2x7.dat"  sha1="http://teamwiigen.com/appfiles/ffsp_module_d2x7.dat.sha" />
    <file key="mload_module_d2x7.dat" url="http://teamwiigen.com/appfiles/mload_module_d2x7.dat"  sha1="http://teamwiigen.com/appfiles/mload_module_d2x7.dat.sha" />
    <file key="sdhc_module_d2x7.dat" url="http://teamwiigen.com/appfiles/sdhc_module_d2x7.dat" sha1="http://teamwiigen.com/appfiles/sdhc_module_d2x7.dat.sha" />
    <file key="banner_d2x7_56.dat" url="http://teamwiigen.com/appfiles/banner_d2x7_56.dat" sha1="http://teamwiigen.com/appfiles/banner_d2x7_56.dat.sha" />
    <file key="banner_d2x7_57.dat" url="http://teamwiigen.com/appfiles/banner_d2x7_57.dat" sha1="http://teamwiigen.com/appfiles/banner_d2x7_57.dat.sha" />
    -->

    <!-- D2xv8 -->
    <file key="dipp_module_d2x8.dat" url="http://teamwiigen.com/appfiles/dipp_module_d2x8.dat" sha1="http://teamwiigen.com/appfiles/dipp_module_d2x8.dat.sha" />
    <file key="ehci_module_d2x8.dat" url="http://teamwiigen.com/appfiles/ehci_module_d2x8.dat" sha1="http://teamwiigen.com/appfiles/ehci_module_d2x8.dat.sha" />
    <file key="esp_module_d2x8.dat" url="http://teamwiigen.com/appfiles/esp_module_d2x8.dat" sha1="http://teamwiigen.com/appfiles/esp_module_d2x8.dat.sha" />
    <file key="fat_module_d2x8.dat" url="http://teamwiigen.com/appfiles/fat_module_d2x8.dat" sha1="http://teamwiigen.com/appfiles/fat_module_d2x8.dat.sha" />
    <file key="ffsp_module_d2x8.dat" url="http://teamwiigen.com/appfiles/ffsp_module_d2x8.dat"  sha1="http://teamwiigen.com/appfiles/ffsp_module_d2x8.dat.sha" />
    <file key="mload_module_d2x8.dat" url="http://teamwiigen.com/appfiles/mload_module_d2x8.dat"  sha1="http://teamwiigen.com/appfiles/mload_module_d2x8.dat.sha" />
    <file key="sdhc_module_d2x8.dat" url="http://teamwiigen.com/appfiles/sdhc_module_d2x8.dat" sha1="http://teamwiigen.com/appfiles/sdhc_module_d2x8.dat.sha" />
    <file key="banner_d2x8_56.dat" url="http://teamwiigen.com/appfiles/banner_d2x8_56.dat" sha1="http://teamwiigen.com/appfiles/banner_d2x8_56.dat.sha" />
    <file key="banner_d2x8_57.dat" url="http://teamwiigen.com/appfiles/banner_d2x8_57.dat" sha1="http://teamwiigen.com/appfiles/banner_d2x8_57.dat.sha" />

    <!-- D2xv10-beta53 -->
    <file key="banner-d2x-v10beta53-56.dat" url="http://teamwiigen.com/appfiles/banner-d2x-v10beta53-56.dat" sha1="http://teamwiigen.com/appfiles/banner-d2x-v10beta53-56.dat.sha" />
    <file key="banner-d2x-v10beta53-57.dat" url="http://teamwiigen.com/appfiles/banner-d2x-v10beta53-57.dat" sha1="http://teamwiigen.com/appfiles/banner-d2x-v10beta53-57.dat.sha" />
    <file key="banner-d2x-v10beta53-58.dat" url="http://teamwiigen.com/appfiles/banner-d2x-v10beta53-58.dat" sha1="http://teamwiigen.com/appfiles/banner-d2x-v10beta53-58.dat.sha" />
    <file key="dipp-d2x-v10beta53.dat" url="http://teamwiigen.com/appfiles/dipp-d2x-v10beta53.dat" sha1="http://teamwiigen.com/appfiles/dipp-d2x-v10beta53.dat.sha" />
    <file key="esp-d2x-v10beta53.dat" url="http://teamwiigen.com/appfiles/esp-d2x-v10beta53.dat" sha1="http://teamwiigen.com/appfiles/esp-d2x-v10beta53.dat.sha" />
    <file key="ffsp-d2x-v10beta53.dat" url="http://teamwiigen.com/appfiles/ffsp-d2x-v10beta53.dat" sha1="http://teamwiigen.com/appfiles/ffsp-d2x-v10beta53.dat.sha" />
    <file key="mload-d2x-v10beta53.dat" url="http://teamwiigen.com/appfiles/mload-d2x-v10beta53.dat" sha1="http://teamwiigen.com/appfiles/mload-d2x-v10beta53.dat.sha" />
    <file key="usbs-d2x-v10beta53.dat" url="http://teamwiigen.com/appfiles/usbs-d2x-v10beta53.dat" sha1="http://teamwiigen.com/appfiles/usbs-d2x-v10beta53.dat.sha" />
    <file key="ehci-d2x-v10beta53.dat" url="http://teamwiigen.com/appfiles/ehci-d2x-v10beta53.dat" sha1="http://teamwiigen.com/appfiles/ehci-d2x-v10beta53.dat.sha" />


  </files>

  <menus start="main">

    <menu id="main" title="Main Menu" message="Choose your language:">
      <navigationMenuItem text="English Menu" menuId="mainen" saveOptions="false" />
      <separatorMenuItem char=" " />
      <navigationMenuItem text="Menu en francais" menuId="mainfr" saveOptions="false" />
      <separatorMenuItem char=" " />
      <exitMenuItem text="Exit" />
    </menu>

    <menu id="mainen" title="Main Menu" message="Welcome in sciifii!">
      <modeMenuItem text="Hack your wii ! (Light Mode)" switches="cIOS249|cIOS250|Preloader" />
      <modeMenuItem text="Hack your wii ! (Light Mode,d2x-v10-beta53)" switches="cIOS249-d2x-v10-beta53|cIOS250-d2x-v10-beta53|cIOS251-d2x-v10-beta53|Preloader" />
      <modeMenuItem text="Hack your wii ! (Full mode with NeoGamma)" switches="cIOS249|cIOS250|Preloader|NeoLoader" />
      <modeMenuItem text="Hack your wii ! (Full Mode with LoaderGX)" switches="cIOS249|cIOS250|Preloader|GXLoader" />
      <modeMenuItem text="Hack your wii ! (Full Mode with CFG)" switches="cIOS249|cIOS250|Preloader|CFG" />
      <modeMenuItem text="Unhack your wii" switches="update|deleteChannel|uninstall" />
      <separatorMenuItem char=" " />
      <navigationMenuItem text="Update Loaders Menu" menuId="Updateden" saveOptions="false" />
      <navigationMenuItem text="Advanced Menu" menuId="advanceden" saveOptions="false" />
      <separatorMenuItem char=" " />
      <previousMenuItem text="Return to language menu" />
      <exitMenuItem text="Exit" />
    </menu>

    <menu id="mainfr" title="Menu principal" message="Bienvenue sur Sciifii">
      <modeMenuItem text="Modifier votre wii ! (Mode simple)" switches="cIOS249|cIOS250|Preloaderfr" />
      <modeMenuItem text="Modifier votre wii ! (Mode simple,d2x-v10-beta53)" switches="cIOS249-d2x-v10-beta53|cIOS250-d2x-v10-beta53|cIOS251-d2x-v10-beta53|Preloader" />
      <modeMenuItem text="Modifier votre wii ! (Mode complet avec NeoGamma)" switches="cIOS249|cIOS250|Preloaderfr|NeoLoaderfr" />
      <modeMenuItem text="Modifier votre wii ! (Mode complet avec LoaderGX)" switches="cIOS249|cIOS250|Preloaderfr|GXLoaderfr" />
      <modeMenuItem text="Modifier votre wii ! (Mode complet avec CFG)" switches="cIOS249|cIOS250|Preloaderfr|CFGfr" />
      <modeMenuItem text="Enlever les modifications de votre Wii" switches="update|deleteChannel|uninstall" />
      <separatorMenuItem char=" " />
      <navigationMenuItem text="Menu Mise a jour loaders" menuId="Updatedfr" saveOptions="false" />
      <navigationMenuItem text="Menu avance" menuId="advancedfr" saveOptions="false" />
      <separatorMenuItem char=" " />
      <previousMenuItem text="Retourner au menu langues" />
      <exitMenuItem text="Sortir" />
    </menu>

    <menu id="advanceden" title="Advanced Menu" message="">
      <switchMenuItem name="cIOS249"                text="Install cios249 d2x8, base 56        " />
      <switchMenuItem name="cIOS250"                text="Install cios250 d2x8, base 57        " />

      <switchMenuItem name="cIOS249-d2x-v10-beta53" text="Install cios249 d2x10-beta53, base 56" />
      <switchMenuItem name="cIOS250-d2x-v10-beta53" text="Install cios250 d2x10-beta53, base 57" />
      <switchMenuItem name="cIOS251-d2x-v10-beta53" text="Install cios251 d2x10-beta53, base 56" />

      <switchMenuItem name="update"                 text="Update your wii to 4.3               " />
      <switchMenuItem name="Preloader"              text="Install the priiloader               " />
      <switchMenuItem name="NeoLoader"              text="Install the NeoGamma                 " />
      <switchMenuItem name="GXLoader"               text="Install the USB LoaderGX             " />
      <switchMenuItem name="CFG"                    text="Install the CFG                      " />
      <switchMenuItem name="wiiflow"                text="Install Wiiflow                      " />
      <switchMenuItem name="updatesciifii"          text="Download new config (need reboot)    " />
      <switchMenuItem name="clean"                  text="Clean temporary files                " />
      <separatorMenuItem char=" " />
      <previousMenuItem text="Return to simple menu" />
      <startMenuItem text="start" saveOptions="true" />
      <separatorMenuItem char=" " />
      <exitMenuItem text="Exit" />
    </menu>

    <menu id="Updateden" title="Update loaders Menu" message="">
      <switchMenuItem name="UpNeoLoader" text="Update the NeoGamma                  " />
      <switchMenuItem name="UpGXLoader" text="Update USB LoaderGX                  " />
      <switchMenuItem name="UpCFG" text="Update CFG                           " />
      <switchMenuItem name="Upwiiflow" text="Update Wiiflow                       " />
      <separatorMenuItem char=" " />
      <previousMenuItem text="Return to simple menu" />
      <startMenuItem text="start" saveOptions="true" />
      <separatorMenuItem char=" " />
      <exitMenuItem text="Exit" />
    </menu>

    <menu id="advancedfr" title="Menu avance" message="">
      <switchMenuItem name="cIOS249"                text="Installer le cios249 d2xv8 base 56        " />
      <switchMenuItem name="cIOS250"                text="Installer le cios250 d2xv8 base 57        " />

      <switchMenuItem name="cIOS249-d2x-v10-beta53" text="Installer le cios249 d2x10-beta53, base 56" />
      <switchMenuItem name="cIOS250-d2x-v10-beta53" text="Installer le cios250 d2x10-beta53, base 57" />
      <switchMenuItem name="cIOS251-d2x-v10-beta53" text="Installer le cios251 d2x10-beta53, base 58" />

      <switchMenuItem name="update"                 text="Mettre a jour votre wii en 4.3            " />
      <switchMenuItem name="Preloaderfr"            text="Installer le priiloader                   " />
      <switchMenuItem name="NeoLoaderfr"            text="Installer NeoGamma                        " />
      <switchMenuItem name="GXLoaderfr"             text="Installer USB LoaderGX                    " />
      <switchMenuItem name="CFGfr"                  text="Installer CFG                             " />
      <switchMenuItem name="wiiflowfr"              text="Installer Wiiflow                         " />
      <switchMenuItem name="updatesciifii"           text="MaJ config.xml (redemarrage necessaire)   " />
      <switchMenuItem name="clean"                  text="Nettoyer les fichiers temporaires         " />
      <separatorMenuItem char=" " />
      <previousMenuItem text="Retourner au menu simple" saveOptions="false" />
      <startMenuItem text="Demarrer" saveOptions="true" />
      <separatorMenuItem char=" " />
      <exitMenuItem text="Sortir" />
    </menu>

    <menu id="Updatedfr" title="Menu Mise a jour loaders" message="">
      <switchMenuItem name="UpNeoLoaderfr" text="Mise a jour NeoGamma                      " />
      <switchMenuItem name="UpGXLoaderfr" text="Mise a jour USB LoaderGX                  " />
      <switchMenuItem name="UpCFGfr" text="Mise a jour CFG                             " />
      <switchMenuItem name="Upwiiflowfr" text="Mise a jour Wiiflow                       " />

      <separatorMenuItem char=" " />
      <previousMenuItem text="Retourner au menu simple" saveOptions="false" />
      <startMenuItem text="Demarrer" saveOptions="true" />
      <separatorMenuItem char=" " />
      <exitMenuItem text="Sortir" />
    </menu>

  </menus>

  <steps>

    <MemoryPatcher option="">
      <patch pattern="0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x01, 0x40, 0x00, 0x00, 0x00, 0x00, 0x00, 0x46, 0x0A, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x08, 0x00, 0x00, 0x00, 0x00, 0x7E, 0xD4, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x08"
             value="0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x7E, 0xD4" />
      <patch pattern="0x42, 0x8B, 0xD0, 0x01, 0x25, 0x66"
             value="0x42, 0x8B, 0xE0, 0x01, 0x25, 0x66" />
      <patch pattern="0xD1, 0x2A, 0x1C, 0x39"
             value="0x46, 0xC0, 0x1C, 0x39" />
      <patch pattern="0x28, 0x03, 0xD1, 0x23"
             value="0x28, 0x03, 0x00, 0x00" />
      <patch pattern="0x20, 0x07, 0x23, 0xA2"
             value="0x20, 0x00, 0x23, 0xA2" />
      <patch pattern="0x20, 0x07, 0x4B, 0x0B"
             value="0x20, 0x00, 0x4B, 0x0B" />
      <patch pattern="0xD2, 0x01, 0x4E, 0x56"
             value="0xE0, 0x01, 0x4E, 0x56" />
    </MemoryPatcher>

    <!-- d2x-v10-beta53 -->
    <!-- beta53 base 56  sur slot 249 -->
    <CiosInstaller option="cIOS249-d2x-v10-beta53" ciosRevision="65535" slot="249" revision="5661" source="56" banner="banner-d2x-v10beta53-56.dat">
      <modules>
        <module file="ffsp-d2x-v10beta53.dat" />
        <module file="ehci-d2x-v10beta53.dat" position="3"/>
        <module file="dipp-d2x-v10beta53.dat" />
        <module file="esp-d2x-v10beta53.dat" />
        <module file="mload-d2x-v10beta53.dat" />
      </modules>
      <patches>
        <SimplePatch offset="0x6E5"  pattern="0x01" value="0x00" module="DIP"/>
        <SimplePatch offset="0x775"  pattern="0x01" value="0x00" module="DIP"/>
        <!-- Register alternative SDI module name without the initial slash -->
        <SimplePatch offset="0x2138" pattern="0xE6,0x00,0x03,0x70,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0x90,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0xB0,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0xD0,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0xF0,0xE1,0x2F,0xFF,0x1E" value="0xE9,0x2D,0x40,0x00,0xE9,0x2D,0x00,0x03,0xEB,0x00,0x00,0x04,0xE8,0xBD,0x00,0x03,0xE2,0x80,0x00,0x01,0xEB,0x00,0x00,0x01,0xE8,0xBD,0x40,0x00,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0x70,0xE1,0x2F,0xFF,0x1E" module="SDI" />
        <!-- Reroute IRQ9 to mload -->
        <SimplePatch offset="0x28544" pattern="0xFF,0xFF,0x5D,0x32" value="0x13,0x6D,0x00,0x11" module="IOSP"/>
        <!-- korean key check-->
        <SimplePatch offset="0x21424" pattern="0xD0" value="0xE0" module="ES"/>
        <!-- Korean key -->
        <SimplePatch offset="0x29078" pattern="0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00" value="0x63,0xB8,0x2B,0xB4,0xF4,0x61,0x4E,0x2E,0x13,0xF2,0xFE,0xFB,0xBA,0x4C,0x9B,0x7E" module="IOSP"/>
      </patches>
    </CiosInstaller>

    <!-- beta53 base 57  sur slot 250 -->
    <CiosInstaller option="cIOS250-d2x-v10-beta53" ciosRevision="65535" slot="250" revision="5918" source="57" banner="banner-d2x-v10beta53-57.dat">
      <modules>
        <module file="ffsp-d2x-v10beta53.dat" />
        <module file="ehci-d2x-v10beta53.dat" position="2"/>
        <module file="dipp-d2x-v10beta53.dat" />
        <module file="esp-d2x-v10beta53.dat" />
        <module file="mload-d2x-v10beta53.dat" />
      </modules>
      <patches>
        <SimplePatch offset="0x6E5"  pattern="0x01" value="0x00" module="DIP"/>
        <SimplePatch offset="0x775"  pattern="0x01" value="0x00" module="DIP"/>
        <!-- Register alternative SDI module name without the initial slash -->
        <SimplePatch offset="0x2138" pattern="0xE6,0x00,0x03,0x70,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0x90,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0xB0,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0xD0,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0xF0,0xE1,0x2F,0xFF,0x1E" value="0xE9,0x2D,0x40,0x00,0xE9,0x2D,0x00,0x03,0xEB,0x00,0x00,0x04,0xE8,0xBD,0x00,0x03,0xE2,0x80,0x00,0x01,0xEB,0x00,0x00,0x01,0xE8,0xBD,0x40,0x00,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0x70,0xE1,0x2F,0xFF,0x1E" module="SDI" />
        <!-- Reroute IRQ9 to mload -->
        <SimplePatch offset="0x28544" pattern="0xFF,0xFF,0x5D,0x32" value="0x13,0x6D,0x00,0x11" module="IOSP"/>
        <!-- korean key check-->
        <SimplePatch offset="0x21424" pattern="0xD0" value="0xE0" module="ES"/>
        <!-- Korean key -->
        <SimplePatch offset="0x29078" pattern="0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00" value="0x63,0xB8,0x2B,0xB4,0xF4,0x61,0x4E,0x2E,0x13,0xF2,0xFE,0xFB,0xBA,0x4C,0x9B,0x7E" module="IOSP"/>
      </patches>
    </CiosInstaller>

    <!-- beta53 base 58 (avec usbs?) sur slot 251-->
    <CiosInstaller option="cIOS251-d2x-v10-beta53" ciosRevision="65535" slot="251" revision="6175" source="58" banner="banner-d2x-v10beta53-58.dat">
      <modules>
        <module file="ffsp-d2x-v10beta53.dat" />
        <module file="usbs-d2x-v10beta53.dat" />
        <module file="dipp-d2x-v10beta53.dat" />
        <module file="esp-d2x-v10beta53.dat" />
        <module file="mload-d2x-v10beta53.dat" />
      </modules>
      <patches>
        <SimplePatch offset="0x6E5"  pattern="0x01" value="0x00" module="DIP"/>
        <SimplePatch offset="0x775"  pattern="0x01" value="0x00" module="DIP"/>
        <!-- Register alternative SDI module name without the initial slash -->
        <SimplePatch offset="0x2138" pattern="0xE6,0x00,0x03,0x70,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0x90,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0xB0,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0xD0,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0xF0,0xE1,0x2F,0xFF,0x1E" value="0xE9,0x2D,0x40,0x00,0xE9,0x2D,0x00,0x03,0xEB,0x00,0x00,0x04,0xE8,0xBD,0x00,0x03,0xE2,0x80,0x00,0x01,0xEB,0x00,0x00,0x01,0xE8,0xBD,0x40,0x00,0xE1,0x2F,0xFF,0x1E,0xE6,0x00,0x03,0x70,0xE1,0x2F,0xFF,0x1E" module="SDI" />
        <!-- Reroute IRQ9 to mload -->
        <SimplePatch offset="0x28544" pattern="0xFF,0xFF,0x5D,0x32" value="0x13,0x6D,0x00,0x11" module="IOSP"/>
        <!-- korean key check-->
        <SimplePatch offset="0x21424" pattern="0xD0" value="0xE0" module="ES"/>
        <!-- Korean key -->
        <SimplePatch offset="0x29078" pattern="0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x00" value="0x63,0xB8,0x2B,0xB4,0xF4,0x61,0x4E,0x2E,0x13,0xF2,0xFE,0xFB,0xBA,0x4C,0x9B,0x7E" module="IOSP"/>
      </patches>
    </CiosInstaller>



    <!-- d2x-v8 -->
    <CiosInstaller option="cIOS249" ciosRevision="21008" slot="249" revision="5661" source="56" banner="banner_d2x8_56.dat">
      <modules>
        <module file="mload_module_d2x8.dat" />
        <module file="fat_module_d2x8.dat" />
        <module file="sdhc_module_d2x8.dat" />
        <module file="ehci_module_d2x8.dat" position="3" />
        <module file="dipp_module_d2x8.dat" />
        <module file="esp_module_d2x8.dat" />
        <module file="ffsp_module_d2x8.dat" />
      </modules>
      <patches>

        <prebuild name="KoreanKey" />
        <prebuild name="DIP_EnableDvdVideo" />
        <SimplePatch value="0xFF, 0x5D, 0x5C, 0xFF, 0xFF"
                     pattern="0xFF, 0x5D, 0x52, 0xFF, 0xFF"
                     module="IOSP" />
        <SimplePatch value="0x9A ,0x13, 0x6D, 0x00, 0x11"
                    pattern="0x9A ,0xFF, 0xFF, 0x5D, 0x32"
                    module="IOSP" />

      </patches>
    </CiosInstaller>

    <CiosInstaller option="cIOS250" ciosRevision="21008" slot="250" revision="5918" source="57" banner="banner_d2x8_57.dat">
      <modules>
        <module file="mload_module_d2x8.dat" />
        <module file="fat_module_d2x8.dat" />
        <module file="sdhc_module_d2x8.dat" />
        <module file="ehci_module_d2x8.dat" position="2" />
        <module file="dipp_module_d2x8.dat" />
        <module file="esp_module_d2x8.dat" />
        <module file="ffsp_module_d2x8.dat" />
      </modules>
      <patches>
        <SimplePatch value="0xFF, 0x5D, 0x5C, 0xFF, 0xFF"
                     pattern="0xFF, 0x5D, 0x52, 0xFF, 0xFF"
                     module="IOSP" />
        <SimplePatch value="0x9A ,0x13, 0x6D, 0x00, 0x11"
                   pattern="0x9A ,0xFF, 0xFF, 0x5D, 0x32"
                   module="IOSP" />




        <prebuild name="DIP_EnableDvdVideo" />
        <prebuild name="KoreanKey" />
      </patches>
    </CiosInstaller>

    <CompositeInstaller option="update" name="Update Ioses">
      <!-- classic ioses -->
      <Title id="0000000100000004" revision="65280" action="install" />
      <Title id="000000010000000A" revision="768" action="install" />
      <Title id="000000010000000C" revision="526" action="install" />
      <Title id="000000010000000D" revision="1032" action="install" />
      <Title id="000000010000000E" revision="1032" action="install" />
      <Title id="000000010000000F" revision="1032" action="install" />
      <Title id="0000000100000010" revision="512" action="install" />
      <Title id="0000000100000011" revision="1032" action="install" />
      <Title id="0000000100000015" revision="1039" action="install" />
      <Title id="0000000100000016" revision="1294" action="install" />
      <Title id="000000010000001C" revision="1807" action="install" />
      <Title id="000000010000001F" revision="3608" action="install" />
      <Title id="0000000100000021" revision="3608" action="install" />
      <Title id="0000000100000022" revision="3608" action="install" />
      <Title id="0000000100000023" revision="3608" action="install" />
      <Title id="0000000100000024" revision="3608" action="install" />
      <Title id="0000000100000025" revision="5663" action="install" />
      <Title id="0000000100000026" revision="4124" action="install" />
      <Title id="0000000100000029" revision="3607" action="install" />
      <Title id="000000010000002B" revision="3607" action="install" />
      <Title id="000000010000002D" revision="3607" action="install" />
      <Title id="000000010000002E" revision="3607" action="install" />
      <Title id="0000000100000030" revision="4124" action="install" />
      <Title id="0000000100000033" revision="4864" action="install" />
      <Title id="0000000100000035" revision="5663" action="install" />
      <Title id="0000000100000037" revision="5663" action="install" />
      <Title id="0000000100000038" revision="5662" action="install" />
      <Title id="0000000100000039" revision="5919" action="install" />
      <Title id="000000010000003A" revision="6176" action="install" />
      <Title id="000000010000003D" revision="5662" action="install" />
      <Title id="0000000100000050" revision="6944" action="install" />
      <Title id="0000000100000100" revision="6" action="install" />
      <Title id="0000000100000101" revision="10" action="install" />
      <!-- System Menu -->
      <Title id="0000000100000002" revision="512" action="install" regions="0" />
      <Title id="0000000100000002" revision="513" action="install" regions="1" />
      <Title id="0000000100000002" revision="514" action="install" regions="2" />
      <Title id="0000000100000002" revision="518" action="install" regions="4" />
      <CiosInstaller source="60" revision="6174" slot="80" ciosRevision="6944" />
      <!-- Old sysMenus stubs -->
      <Title id="0000000100000009" revision="1034" action="install" />
      <Title id="000000010000000B" revision="256" action="install" />
      <Title id="0000000100000014" revision="256" action="install" />
      <Title id="000000010000001E" revision="2816" action="install" />
      <Title id="0000000100000028" revision="3072" action="install" />
      <Title id="0000000100000032" revision="5120" action="install" />
      <Title id="0000000100000034" revision="5888" action="install" />
      <Title id="000000010000003C" revision="6400" action="install" />
      <Title id="0000000100000046" revision="6912" action="install" />
      <!-- Channels -->
      <Title id="0001000248414241" revision="20" action="update" regions="0,1,2" />
      <Title id="000100024841424B" revision="20" action="update" regions="4" />
      <Title id="0001000248414341" revision="6" action="update" regions="0,1,2" />
      <Title id="0001000248414645" revision="7" action="update" regions="1" />
      <Title id="000100024841464A" revision="7" action="update" regions="0" />
      <Title id="0001000248414650" revision="7" action="update" regions="2" />
      <Title id="0001000248414745" revision="7" action="update" regions="1" />
      <Title id="000100024841474A" revision="7" action="update" regions="0" />
      <Title id="0001000248414750" revision="7" action="update" regions="2" />
      <Title id="0001000248415941" revision="3"  action="update" regions="0,1,2" />
      <Title id="000100024841594B" revision="3"  action="update" regions="4" />
      <Title id="0001000848414B45" revision="3"  action="update" regions="1" />
      <Title id="0001000848414B4A" revision="3"  action="update" regions="0" />
      <Title id="0001000848414B4B" revision="3"  action="update" regions="4" />
      <Title id="0001000848414B50" revision="3"  action="update" regions="2" />
      <Title id="0001000848414C45" revision="2"  action="update" regions="1" />
      <Title id="0001000848414C4A" revision="2"  action="update" regions="0" />
      <Title id="0001000848414C4B" revision="2"  action="update" regions="4" />
      <Title id="0001000848414C50" revision="2"  action="update" regions="2" />
      <Title id="000100084843434A" revision="2"  action="update" regions="0" />
    </CompositeInstaller>

    <CompositeInstaller option="deleteChannel" name="Channel deletion">
      <Title id="000100014E47534E" action="uninstall" />
      <Title id="00010001554E454F" action="uninstall" />
      <Title id="000100015746424A" action="uninstall" />
      <Title id="0001000153434949" action="uninstall" />
      <Title id="0001000157465846" action="uninstall" />
      <Title id="000100015343494F" action="uninstall" />
      <Title id="00010001554C4E52" action="uninstall" />
      <Title id="000100014143504c" action="uninstall" />
      <Title id="0001000144464742" action="uninstall" />
      <Title id="0001000144464e45" action="uninstall" />
      <Title id="00010001534d4758" action="uninstall" />
      <Title id="0001000155435846" action="uninstall" />
      <Title id="0001000157493634" action="uninstall" />
      <Title id="0001000157494958" action="uninstall" />
      <Title id="0001000157494d43" action="uninstall" />
      <Title id="0001000159414241" action="uninstall" />
      <Title id="00010001534e4553" action="uninstall" />
      <Title id="00000001000000ec" action="uninstall" />
      <Title id="00000001000000fb" action="uninstall" />
      <Title id="00000001000000ca" action="uninstall" />
      <Title id="00000001000000e0" action="uninstall" />
      <Title id="0001000144574641" action="uninstall" />
      <Title id="00000001000000f5" action="uninstall" />
      <Title id="00000001000000f6" action="uninstall" />
      <Title id="00000001000000f7" action="uninstall" />
      <Title id="00000001000000f8" action="uninstall" />
      <FileSystem target="sd:/wiiflow" action="delete" type="folder" recursive="true" />
      <FileSystem target="sd:/config" action="delete" type="folder" recursive="true" />
      <FileSystem target="sd:/apps/wiiflow" action="delete" type="folder" recursive="true" />
      <FileSystem target="sd:/apps/usbloader_gx" action="delete" type="folder" recursive="true" />
      <FileSystem target="sd:/apps/neogamma" action="delete" type="folder" recursive="true" />
      <FileSystem target="sd:/usb-loader" action="delete" type="folder" recursive="true" />
      <FileSystem target="sd:/apps/USBLoader" action="delete" type="folder" recursive="true" />
    </CompositeInstaller>

    <CompositeInstaller option="uninstall" name="Replace cioses by nintendo stubs">
      <Title id="00000001000000FE" revision="65280" action="install" />
      <Title id="00000001000000DE" revision="65280" action="install" />
      <Title id="00000001000000DF" revision="65280" action="install" />
      <Title id="00000001000000FA" revision="65280" action="install" />
      <Title id="00000001000000FB" action="uninstall" />
      <Title id="00000001000000F9" revision="65280" action="install" />
    </CompositeInstaller>

    <CompositeInstaller option="Preloader" name="Preloader">
      <Preloader file="priiloader.dat" />
      <FileDownloader file="hacks.ini" />
      <FileDownloader file="hacks_hash.ini" />
    </CompositeInstaller>

    <Title option="NeoLoader|GXLoader|wiiflow|NeoLoaderfr|GXLoaderfr|wiiflowfr|UpNeoLoader|UpNeoLoaderfr|UpGXLoader|UpGXLoaderfr|Upwiiflow|Upwiiflowfr|CFG|CFGfr|UpCFG|UpCFGfr" id="000000010000003A" revision="6176" action="update" />

    <CompositeInstaller option="NeoLoader" name="NeoLoader">
      <FileDownloader file="Neodol" />
      <FileDownloader file="Neoxml" />
      <FileDownloader file="Neoicon" />
      <Title wad="Neoforwarder" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="GXLoader" name="GXLoader">
      <FileDownloader file="GXDol" />
      <FileDownloader file="GXmeta" />
      <FileDownloader file="GXicon" />
      <Title wad="GXForwarder" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="CFG" name="CFG">
      <FileDownloader file="CFGDol" />
      <FileDownloader file="CFGMETA" />
      <FileDownloader file="CFGICON" />
      <FileDownloader file="CFGsetting" />
      <Title wad="CFGForwarder" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="wiiflow" name="Wiiflow">
      <FileDownloader file="wiiflow.dol" />
      <FileDownloader file="wiiflowicon" />
      <FileDownloader file="wiiflowxml" />
      <Title wad="wiiflow.wad" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="Preloaderfr" name="Preloaderfr">
      <Preloader file="priiloaderfr.dat" />
      <FileDownloader file="hacksfr.ini" />
      <FileDownloader file="hacks_hashfr.ini" />
    </CompositeInstaller>

    <CompositeInstaller option="NeoLoaderfr" name="NeoLoaderfr">
      <FileDownloader file="Neodolfr" />
      <FileDownloader file="Neoxml" />
      <FileDownloader file="Neoicon" />
      <Title wad="Neoforwarder" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="GXLoaderfr" name="GXLoaderfr">
      <FileDownloader file="GXDol" />
      <FileDownloader file="GXmeta" />
      <FileDownloader file="GXicon" />
      <FileDownloader file="GXglobalfr" />
      <FileDownloader file="GXlangfr" />
      <Title wad="GXForwarder" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="wiiflowfr" name="Wiiflowfr">
      <FileDownloader file="wiiflow.dol" />
      <FileDownloader file="wiiflowlangfr" />
      <FileDownloader file="wiiflowinifr" />
      <FileDownloader file="wiiflowicon" />
      <FileDownloader file="wiiflowxml" />
      <Title wad="wiiflow.wad" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="CFGfr" name="CFGfr">
      <FileDownloader file="CFGDol" />
      <FileDownloader file="CFGMETA" />
      <FileDownloader file="CFGICON" />
      <FileDownloader file="CFGsetting" />
      <FileDownloader file="CFGlangfr" />
      <Title wad="CFGForwarder" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="UpNeoLoader" name="UpNeoLoader">
      <FileDownloader file="UpNeodol" />
      <FileDownloader file="UpNeoxml" />
      <Title wad="Neoforwarder" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="UpNeoLoaderfr" name="UpNeoLoaderfr">
      <FileDownloader file="UpNeodolfr" />
      <FileDownloader file="UpNeoxml" />
      <Title wad="Neoforwarder" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="UpGXLoader" name="UpGXLoader">
      <FileDownloader file="UpGXDol" />
      <FileDownloader file="UpGXmeta" />
      <Title wad="GXForwarder" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="UpGXLoaderfr" name="UpGXLoaderfr">
      <FileDownloader file="UpGXDol" />
      <FileDownloader file="UpGXglobalfr" />
      <FileDownloader file="UpGXlangfr" />
      <FileDownloader file="UpGXmeta" />
      <Title wad="GXForwarder" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="Upwiiflow" name="Upwiiflow">
      <FileDownloader file="Upwiiflow.dol" />
      <FileDownloader file="Upwiiflowxml" />
      <Title wad="Upwiiflow.wad" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="Upwiiflowfr" name="Upwiiflowfr">
      <FileDownloader file="Upwiiflow.dol" />
      <FileDownloader file="Upwiiflowlangfr" />
      <FileDownloader file="Upwiiflowinifr" />
      <FileDownloader file="Upwiiflowxml" />
      <Title wad="Upwiiflow.wad" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="UpCFG" name="UpCFG">
      <FileDownloader file="UpCFGDol" />
      <FileDownloader file="UpCFGMETA" />
      <FileDownloader file="UpCFGsetting" />
      <Title wad="CFGForwarder" action="update" fakesign="true" />
    </CompositeInstaller>

    <CompositeInstaller option="UpCFGfr" name="UpCFGfr">
      <FileDownloader file="UpCFGDol" />
      <FileDownloader file="UpCFGMETA" />
      <FileDownloader file="UpCFGsetting" />
      <FileDownloader file="UpCFGlangfr" />
      <Title wad="CFGForwarder" action="update" fakesign="true" />
    </CompositeInstaller>

    <FileDownloader file="configsciifii.xml" option="updatesciifii"/>

    <FileSystem option="clean" target="sd:/sciifii/temp" type="folder" action="delete" recursive="true" />

  </steps>
  <Disclaimer>
    This software comes with NO WARRANTY WHATSOEVER.\n
    You may use this software at your own risk.\n We take no
    responsibility for damage caused by Sciifii.\n
  </Disclaimer>
</sciifii>