<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="tw_web" connectionString="metadata=res://*/WebSiteModel.csdl|res://*/WebSiteModel.ssdl|res://*/WebSiteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=tw_web;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>